
ul {
    list-style: none; 
    padding-left: 0; 
}

ul li {
    margin: 5px 0; 
    padding-left: 20px;
}

body > ul > li {
    list-style-type: disc; 
    padding-left: 0; 
    margin-left: 20px; 
}

body > ul > li > ul > li {
    list-style-type: circle; 
    margin-left: 40px; 
}

body > ul > li > ul > li > ul > li {
    list-style-type: square; 
    margin-left: 60px;
}